body {
	background: #222222;
	color: #ffffff;
	text-shadow: 1px 1px 0px #000000;
	user-select: none;
}

p {
	margin: 1px;
	padding: 2px;
}

/* Containers */

.wnd_title {
	color: #eb8d2f;
	background: #111111;
	text-align: center;
	border-bottom: 1px solid #2d2d2d;
	text-shadow: 0px 0px 2px #c56d00;
	font-size: 12px;
	height: 17px;
	margin-bottom: 3px;
	padding-left: 2px;
	padding-top: 3px;
}

.wnd_container {
	position: fixed;
	top: 0;
	left: 0;

	background: #1d1d1d;
	border: 1px solid #444444;
	box-shadow: 0px 0px 2px #000000;

	color: #dddddd;
	display: inline-block;
	font-family: monospace;
	padding: 5px;
}

.wnd_content canvas {
	margin-bottom: -3px;
}

/* General */
.hidden {
	display: none;
}

.even {
	background: #252525;
	border-bottom: 1px solid #2d2d2d;
}

.row {
	width: 100%;
	display: flex;
}

.cell {
	display: flex;
	float: left;
}

.cell .content {
	margin: auto;
}

/* Initial Positioning of Windows */
#adv_map {
	left: 10px;
	top: 92px;
}

#adv_stats {
	left: 10px;
	top: 60px;

	width: 420px;
}

#adv_history {
	left: 10px;
	top: 408px;

	width: 420px;
}

#adv_equipment {
	left: 445px;
	top: 60px;

	height: 100px;
	width: 300px;
}

#adv_backpack {
	left: 445px;
	top: 176px;

	height: 400px;
	width: 300px;
}

#adv_dbg {
	left: 460px;
	top: 600px;
}

/* Log UI */
#adv_history .wnd_content {
	height: 144px; /* 5 lines */
	overflow-y: scroll;
}

/* Stats & Health */

/* Text positioning */
#adv_stats .labelText {
	float: left;
}

/* Health Bar */
#adv_stats_hp {
	float: left;
	margin-left: 6px;
	width: 390px;
}

.adv_health_bar {
	position: relative;
	width: 100%;
	height: 16px;
	background: #732930;
}
.adv_health_bar_filling {
	background: #be2632;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.adv_health_bar_text {
	font-family: monospace;
	position: absolute;
	width: 100%;

	text-align: center;
	margin-top: -1px;
}

/* Backpack */
#adv_backpack .wnd_content {
	overflow: scroll;
}

.adv_backpack_entry {
	background: #252525;
	border-bottom: 1px solid #2d2d2d;

}

.adv_backpack_entry:hover {
	background: #333333;
	border-color: #000000;
}

.adv_backpack_entry .cell {
	height: 32px;
	margin: 2px;
}

.adv_backpack_entry .container .content {
	margin: auto;
}

/* amount & icon */
.adv_backpack_entry .amount, .adv_backpack_entry .icon {
	width: 32px;
}

/* item name */
.adv_backpack_entry .itemName {
	width: 126px;
}