body {
	background: #000000;
}

.jmpSample {
	margin-top: 60px;
	display: inline-block;
	padding: 50px;
	background: #e8b065;
}

canvas {
	box-shadow: 10px 10px 0px #d0821e;
}

#__debugUI {
	font-family: monospace;
	color: #FFF1E8
}