body {
	background: #333333;
	color: #EEEEEE;
	font-family: sans-serif;
	font-weight: 100;
	margin: 0;
}

#content {
	margin-top: 50px; /* spacing for performance stats */
	background: #000000;
	border: 1px solid #525252;
	padding: 3px;
	display: inline-block;
}

#content canvas {
	border: 1px solid #525252;
}

.jmpDemoPanelOuter {
	display: flex;
}

.jmpDemoPanelInner {
	margin: 0 auto;
}