body {
	background: #547a94;
	color: #EEEEEE;
	font-family: sans-serif;
	font-weight: 100;
	margin: 0;
}

#content {
	margin-top: 50px; /* Spacing for performance info */
	background: #e6e6e6;
	border: 0px solid #e6e6e6;
	box-shadow: 4px 4px 0px #252525;
	display: inline-block;
	padding: 3px;
	border-radius: 0px;
	overflow: hidden;
}

#content canvas {
	margin-bottom: -4px;
	/* border-left: 1px solid #333333;
	border-top: 1px solid #333333;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff; */
}

.jmpDemoPanelOuter {
	display: flex;
}

.jmpDemoPanelInner {
	margin: 0 auto;
}